.home-image{
    background-image: url('../img/home.webp');   
    height: 100vh;
    min-height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    opacity: 0.97;
    margin-bottom: 20%;
}
.service-row{
    /* border: 1px solid #c53232; */
    border-radius: 23px;
    color: #000;
    margin-top: 15%;
    width: 100%;
}
.p-heading{
     color:#c53232;
    margin-top: 17%;
    width: 50%;
    text-align: center;
    font-weight: bolder;
}
.card-img-top{
    width: 40%;
    margin: auto;
    padding: 12px;
}
.home-card{
    background-color: #22d0cc;
    color: white;
    border: 1px solid white;
}

@media (max-width:767px){
    .home-image{
        margin-bottom: 90%;
    }
}


@media (max-width:518px){
    .home-image{
        margin-bottom: 170%;
    }
    .card-img-top{
        width: 55%;
    }
}
